.header-container {
  height: 10%;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-evenly;

  background-color: rgb(146, 194, 179);
}

.my-name {
  margin-left: 100px;

  font-family: 'Jost', sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 50px;
  color: white;
}

.navigation-container {
  display: flex;
  gap: 30px;
}

.nav-btn {
  height: 50px;
  width: 125px;
  position: relative;
  cursor: pointer;

  color: black;
  background-color: white;

  border: none;
  outline: none;
  border-radius: 10px;

  background-color: rgba(240, 248, 255, 0.619);

  font-family: 'Jost', sans-serif;
  font-weight: 600;
  font-size: 20px;

  --border-size: 4px;
}

.nav-btn::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: var(--border-size) solid rgba(240, 248, 255, 0.619);
  border-radius: 10px;
}

.nav-btn:hover::before,
.nav-btn:focus::before {
  top: calc(var(--border-size) * -2);
  left: calc(var(--border-size) * -2);
  right: calc(var(--border-size) * -2);
  bottom: calc(var(--border-size) * -2);
} 

